html {
    scroll-behavior: smooth;
}

/* For VERY large screens */
@media only screen and (min-width: 1460px) {
    #bckImg {
        background-size: cover;
        max-height: 757px;
        align-content: stretch;
    }
    #navStyle {
        min-height: 70px;
        font-size: 26px;
    }
    #nameLogo {
        font-size: 32px;
    }
    .btn {
        font-size: 28px;
    }
    #table {
        font-size: 34px;
    }
    #valueList {
        margin-top: 20px;
    }
}